// Typography

// Fonts
$body-font: "freight-sans-pro",sans-serif;

@mixin body-font {
 	font-family: $body-font;
	font-style: normal;
	font-weight: 500;
 }

// Setting default font size for rem

html {
	font-size: 62.5%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include body-font;
	color: $c-dark-grey;
}

h1 {
	font-size: 2rem;
	line-height: 1.6rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1.8rem;
}

p {
	font-size: 1.6rem;
	line-height: 1.4em;
}

ol,
ul {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

a {
	color: inherit;
}