<header>
	<h1 class="main">Russell Privett Photography</h1>
	<nav>
		<ul class="work">
				{% for item in nav %}
					{% include "partials/nav-item.njk" %}
				{% endfor %}
		</ul>
		<ul class="info">
			<li><a href="#about">about</a></li>
			<li><a href="/contact">contact</a></li>
		</ul>
	</nav>
</header>