<header>
	<h1 class="main">Russell Privett Photography</h1>
	<nav>
		<ul class="work">
			<li><a href="/overview">overview</a></li>
			<li><a href="/live-music">live music</a></li>
			<li><a href="/portraits">portraits</a></li>
			<li><a href="/events">events</a></li>
			<li><a href="/published">published</a></li>
			<li><a href="/personal">personal</a></li>
		</ul>
		<ul class="info">
			<li><a href="#about">about</a></li>
			<li><a href="/contact">contact</a></li>
		</ul>
	</nav>
</header>

