{% extends "master.njk" %}

{% block content %}
<main>
	<ul>
		{% set overview = r/^overview.*/g %}
		{% for item in content %}
			{% if overview.test(item.category) %}
				{% include "partials/image-item.njk" %}
			{% endif %}
		{% endfor %}
	</ul>
</main>
	

{% endblock %}
