{% extends "master.njk" %}

{% block content %}
<main>
	<ul>
		<li><img src="img/dave.jpg"></li>
		<li><img src="img/oxford.jpg"></li>
		<li><img src="img/rise.jpg"></li>
		<li><img src="img/slipknot.jpg"></li>
		<li><img src="img/weezer.jpg"></li>
	</ul>
</main>
	

{% endblock %}
